.pdp,
.pdpInner {
  display: flex;
  align-items: flex-start;
}
.pdpInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.pdp {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .pdp {
    gap: 56px;
  }
}
@media screen and (max-width: 825px) {
  .pdp {
    gap: 28px;
  }
}
