.frameChild {
  height: 198px;
  width: 198px;
  position: relative;
  object-fit: cover;
  min-height: 198px;
}
.sarahLawson,
.theFutureOf {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.theFutureOf {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.sarahLawsonParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.readMore {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: #3f28c6;
}
.frameParent,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-width: 235px;
  min-height: 198px;
}
.frameWrapper,
.rectangleParent {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangleParent {
  flex-direction: row;
  gap: 24px;
}
.frameWrapper {
  flex-direction: column;
  flex-shrink: 0;
  text-align: left;
  font-size: 16px;
  color: #212121;
  font-family: "Helvetica Neue";
}
@media screen and (max-width: 850px) {
  .frameChild {
    flex: 1;
  }
  .frameParent {
    min-height: auto;
  }
  .rectangleParent {
    flex-wrap: wrap;
  }
  .frameWrapper {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .theFutureOf {
    font-size: 19px;
    line-height: 22px;
  }
}
