.frameChild {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
}
.innovation,
.weAreDedicated {
  align-self: stretch;
  position: relative;
}
.innovation {
  margin: 0;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.weAreDedicated {
  font-size: 16px;
  line-height: 24px;
}
.innovationParent,
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.innovationParent {
  width: 294px;
  gap: 8px;
}
.rectangleParent {
  border-radius: 16px;
  border: 3px solid rgba(31, 120, 255, 0.6);
  box-sizing: border-box;
  padding: 44px 29px;
  gap: 24px;
  min-width: 358px;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  color: #363588;
  font-family: "Helvetica Neue";
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .innovation {
    font-size: 19px;
    line-height: 22px;
  }
  .rectangleParent {
    padding-top: 29px;
    padding-bottom: 29px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
