.frameChild {
  height: 928px;
  width: 1920px;
  position: relative;
  background-color: #fbf3ff;
  display: none;
  max-width: 100%;
}
.getInTouch,
.haveQuestionsOr {
  align-self: stretch;
  position: relative;
}
.getInTouch {
  margin: 0;
  font-size: inherit;
  line-height: 52px;
  font-weight: 700;
  font-family: inherit;
}
.haveQuestionsOr {
  font-size: 16px;
  line-height: 24px;
}
.getInTouchParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frameItem {
  width: 588px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.frameGroup {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
  min-width: 624px;
  max-width: 100%;
}
.services {
  position: relative;
  line-height: 24px;
  color: #212121;
  display: inline-block;
  min-width: 72px;
}
.frameInner {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
}
.wHosting {
  position: relative;
  line-height: 24px;
}
.rectangleGroup,
.wHostingPlansWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wHostingPlansWrapper {
  flex-direction: column;
  padding: 3px 0 0;
}
.rectangleGroup {
  flex-direction: row;
  gap: 12px;
}
.rectangleDiv {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
}
.wHostingPlans {
  position: relative;
  line-height: 24px;
}
.frameDiv,
.rectangleContainer,
.wHostingPlansContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wHostingPlansContainer {
  flex-direction: column;
  padding: 3px 0 0;
}
.frameDiv,
.rectangleContainer {
  flex-direction: row;
  gap: 12px;
}
.frameDiv {
  gap: 28px;
}
.frameChild1 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
}
.wHostingPlans1 {
  position: relative;
  line-height: 24px;
}
.rectangleParent1,
.wHostingPlansFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wHostingPlansFrame {
  flex-direction: column;
  padding: 3px 0 0;
}
.rectangleParent1 {
  flex-direction: row;
  gap: 12px;
}
.frameChild2 {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
}
.notSure {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 64px;
}
.notSureWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.frameParent1,
.rectangleParent2,
.servicesParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frameParent1,
.servicesParent {
  gap: 28px;
  max-width: 100%;
}
.servicesParent {
  flex-direction: column;
  padding: 0 0 9px;
  box-sizing: border-box;
  gap: 14px;
  color: #363588;
}
.viewFaq {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 73px;
}
.arrowIcon {
  width: 17px;
  height: 11px;
  position: relative;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 0 0;
}
.viewFaqParent {
  flex-direction: row;
  gap: 8px;
}
.frameWrapper,
.instanceParent,
.viewFaqParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: column;
  padding: 16px 0 0;
}
.instanceParent {
  width: 277px;
  flex-direction: row;
  gap: 32px;
}
.frameContainer,
.frameParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameContainer {
  width: 689px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 39px;
  min-width: 689px;
  font-size: 16px;
}
.frameParent,
.rectangleParent {
  flex-direction: row;
  z-index: 1;
}
.frameParent {
  width: 1536px;
  justify-content: space-between;
  gap: 20px;
}
.rectangleParent {
  align-self: stretch;
  background-color: #fbf3ff;
  justify-content: center;
  padding: 120px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: #212121;
  font-family: "Helvetica Neue";
}
@media screen and (max-width: 1425px) {
  .frameContainer,
  .frameGroup {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    padding-top: 78px;
    padding-bottom: 78px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .getInTouch {
    font-size: 38px;
    line-height: 42px;
  }
  .frameGroup {
    gap: 22px;
    min-width: 100%;
  }
  .frameContainer {
    gap: 19px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .getInTouch {
    font-size: 29px;
    line-height: 31px;
  }
  .frameDiv,
  .frameParent1 {
    flex-wrap: wrap;
  }
  .instanceParent {
    gap: 16px;
  }
  .rectangleParent {
    padding-top: 51px;
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
